a {
    text-decoration: none;
    color: black;
}

.coinInfo {
    display: inline;
}

.coinInfoItem {
    background: #eee;
    color: rgb(37, 30, 30);
    border-bottom: 1px solid black;
    display: flexbox;
    font-size: 16px;
    padding: 20px 10px;
    text-align: center;
    margin: auto;
     margin-bottom: 5px;
    width: 50%; 
}

.coinInfoWithButton {
    position: relative;
}

.button {
    position: absolute;
    left: 10px;
    top: 10px;
}

img {
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

