.table tr td {
    border-bottom: 1px solid rgb(153, 169, 85);
    background-color: blanchedalmond;
    }

.table tr td:hover {
    background-color: rgb(105, 126, 119);
}

.table th {
    background-color: rgb(174, 181, 129);
}

.coin {
    background-color: blueviolet;
    color: black;
}

.info {
    font-size: 25px;
}